<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LocationConfig" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="myHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Choose endpoint type and comment out endpoints that are not used. -->
      <endpoint name="MapCatalogService" address="http://mariamapserver.teleplan.no:9008" contract="TPG.GeoFramework.MapServiceInterfaces.IMapCatalogService" binding="basicHttpBinding" bindingConfiguration="myHttpBinding" />

      <endpoint name="TrackService" address="http://mariamapserver.teleplan.no:9003" contract="TPG.GeoFramework.TrackServiceInterfaces.IMariaTrackService" binding="basicHttpBinding" bindingConfiguration="myHttpBinding" />

      <endpoint name="DrawObjectService" address="http://mariamapserver.teleplan.no:9004" contract="TPG.GeoFramework.DrawObjectServiceInterfaces.IDrawObjectService" binding="basicHttpBinding" bindingConfiguration="myHttpBinding" />
      
      
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
    </extensions>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TPG.GeoFramework.Style.Core.Contracts" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.GeoFramework.Contracts" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.GeoUnits" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.GeoFramework.Symbols.Contracts" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.Maria.Contracts" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.Maria.Common" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.GeoFramework.Core" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.ServiceModel" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.Maria.Internal" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.GeoFramework.StyleCore" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.GeoFramework.Map.Proto" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TPG.Geo.Proto" publicKeyToken="e1f08960486e3cdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>